*{
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #fff8e7;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid black;
    height: 4rem;
    background-color: #fff8e7;
    border-radius: 0.5rem;
}
.logo,.curr-location,.Home{
    padding: 0.5rem;
}


.logo{
    font-size: 0.7rem;
    color: #cc5500;
}

.curr-location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid black;
    border-radius: 1.7rem 1.7rem;
    height :25%;
    
    margin: 0.5rem;
}

.curr-location p{
    font-size: 1rem;
    margin: 0;
}

.curr-location span {
    padding: 0.2rem;
}

.curr-location:hover{
    background-color: grey;
}

.control {
    display: flex;
    flex-direction: row;
}
.control span{
    margin: 0.5rem;
    padding: 0.5rem;
}

.control span:hover{
    background-color: grey;
    cursor:pointer;
}

.main {
    display: none;
    flex-direction: column;
    border: 0.1rem solid black;
    border-radius: 0.5rem 0.5rem ;
}


h1{
    font-size: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
}

.description{
    padding: 0.7rem;
    border-bottom: 0.1rem solid black;
    border-radius: 0.5rem 0.5rem;
}

.container{
    width: 100%;
    padding: 1.5rem;
}

.container label{
    font-size: 1.3rem;
}

.container textarea{
    border-radius: 0.5rem;
    resize: none;
}

.usr-input {
    width: 100%;    
}

.portions{
    padding: 0.7rem;
    border-bottom: 0.1rem solid black;
    border-radius: 0.5rem 0.5rem;
}
.portions input{
    border-radius: 0.5rem;
    margin: 0.3rem;
    padding: 0.3rem;
}


.tags{
    padding: 0.7rem;
    border-bottom: 0.1rem solid black;
    border-radius: 0.5rem 0.5rem;
}

.tags label{
    cursor: pointer;
}



.tags:hover .items{
    display: flex;
}

.alergies{
    padding: 0.7rem;
    border-bottom: 0.1rem solid black;
    border-radius: 0.5rem 0.5rem;
}

.alergies label{
    cursor: pointer;
}

.alergies:hover .items{
    display: flex;
}

.items {
    display: none;
    flex-direction: column;
    top: 77%;
    left: 20;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.3);
    border: 0.2rem solid black;
    border-radius: 0.5rem;;
    margin: 1.5rem;
}

.items ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-right: 5.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
}

.items ul li:hover{
    background-color: rgb(211, 211, 211);
}

.items ul li label i{
    padding: 1rem;
    
}

.items ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.next-page{
    margin: 1.5rem;
    display: none;
    flex-direction: row;
    justify-content: center;
}

.next-page span{
    margin-left: 1rem;
    padding:1.5rem ;
}


.next-page span:hover {
     background-color: rgb(211, 211, 211);
}

/* ///////////////////////////// */
/* display: none */
.page-two {
    display: none;
    flex-direction: column;
    border: 0.1rem solid black;
    border-radius: 0.5rem 0.5rem ;
}

.pickup-point{
    padding: 0.7rem;
    border-bottom: 0.1rem solid black;
    border-radius: 0.5rem 0.5rem;
}

.pickup-point label{
    cursor: pointer;
}

.pickup-point:hover .items{
    display: flex;
}
.pickup-point li button{
    padding: 1rem;
}



.timeslot{
    padding: 0.7rem;
    border-bottom: 0.1rem solid black;
    border-radius: 0.5rem 0.5rem;
}

.timeslot label{
    cursor: pointer;
}

.timeslot:hover .items{
    display: flex;
}

.pickup-point .items .add-address{
    background-color: #fff8e7;
    color: #cc5500;
    font-size: 2rem;
    border-style: none;
    border-top: 0.2rem solid black;
    border-radius: 0.5rem 0.5rem;
}

.pickup-point .items .add-address:hover{
    background-color: rgb(211, 211, 211);    
}

.address-page {
    position: fixed;
    display: none;
    flex-direction: column;
    z-index: 2;
    top: 8rem;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    overflow-y:auto;
}

.control{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    justify-content: space-between;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.control h1{
    padding: 0;
}

.control .go-back{
    background: transparent;
    /* border: 0.2rem solid rgb(0, 0, 0); */
    border-style: none;
    border-radius: 0.5rem;
    width: 20%;
}

.address-page button:hover{
    background-color: rgb(211, 211, 211);   
}

.active{
    display: flex;
}

.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 3rem ;
}

.search-bar input{
    width: 30%;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
}

#map {
    height: 30em;
    width: 100%;
}

.address-page button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.confirm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
}

.confirm button{
    width: 20%;
    height: 2rem;
    color: #cc5500;
    font-size: large;
    background-color: black;
    border-style: none;
    border-radius: 0.7rem;
}

.confirm button:hover{
    background-color: rgb(211, 211, 211);      
}